.section {
    background-color: hsl(0, 0%, 100%);
    margin: 20px auto;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

@media (max-width: 767px) {
    .section__header{
        grid-template-columns: 1fr;
    }
}

.section__body {
    border-top: 1px solid hsl(0, 0%, 80%);
    padding: 20px;
}

.section__title {
    padding: 20px;
    margin: 0;
}