.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__item {
   border: 1px solid #ccc;
   padding: 10px;
}

@media (max-width: 767px) {
    .form{
        grid-template-columns: 1fr;
    }
}

.form__button {
    font-family: 'Roboto', sans-serif;
    background: hsl(180, 100%, 25%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 1s;
}

.form__button:hover {
    background: hsl(180, 100%, 35%);
    transform: scale(1.2);
}